In [1]:
import pandas as pd
import numpy as np
import math

In [14]:
#1

new_list = [100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 230, 24, 57, 55, 70, 75, 65, 84, 90, 150]
df = pd.DataFrame(data=new_list, columns=['ws'])

In [16]:
df.head()

    ws
0  100
1   80
2   75
3   77
4   89

In [17]:
mean_ws = df['ws'].sum()/df['ws'].count()
var_ws = ((df['ws'] - df['ws'].mean())**2).sum() / df['ws'].count()
std_ws = np.sqrt(((df['ws'] - df['ws'].mean())**2).sum() / df['ws'].count())

mean_ws, var_ws, std_ws

(73.14285714285714, 2135.0748299319725, 46.206869943028735)

In [22]:
df['ws'].mean(), df['ws'].var(ddof=0), df['ws'].std(ddof=0),

(73.14285714285714, 2135.074829931973, 46.20686994302874)

In [32]:
#2
ws = sorted(df['ws'])
length = len(df['ws'])
length

21

In [37]:
median = ws[length//2]
median

70

In [38]:
length % 4

1

In [44]:
q1 = ws[length//4]
q3 = ws[3 * length //4]
q1, q3

(45, 84)

In [84]:
iqr_list = ws[ws.index(q1):ws.index(q3)]
iqr_list

[45, 55, 57, 65, 65, 70, 75, 75, 77, 80]

In [85]:
iqr = q3 - q1
iqr

39

In [86]:
boxplot_range = (q1 - 1.5*iqr, q3 + 1.5*iqr)
boxplot_range

(-13.5, 142.5)

In [89]:
outliers = df.loc[(df['ws'] < boxplot_range[0]) | (df['ws'] > boxplot_range[1]) ]
outliers.shape[0]

2

In [90]:
outliers

     ws
11  230
20  150

In [91]:
#3
st_A = 100
st_B = 90
st_C = 45
st_ABC = st_A + st_B + st_C
p_A = 0.6
p_B = 0.7
p_C = 0.8

In [ ]:
# Событие А = успешно сданная сессия студентом вуза
# P(A|B1), P(A|B2), P(A|B3) - вероятность, что сессия сдана студентом фак-та A,B,C
# Тогда по Байесу: P(B1|A) = (P(B1) * P(A|B1) )/P(A)

In [99]:
A = (st_A / st_ABC * p_A ) / (st_A/st_ABC*p_A + st_B/st_ABC*p_B + st_C/st_ABC*p_C)
A

0.3773584905660377

In [100]:
B = (st_B / st_ABC * p_B ) / (st_A/st_ABC*p_A + st_B/st_ABC*p_B + st_C/st_ABC*p_C)
B

0.39622641509433965

In [101]:
C = (st_C / st_ABC * p_C ) / (st_A/st_ABC*p_A + st_B/st_ABC*p_B + st_C/st_ABC*p_C)
C

0.22641509433962265

In [102]:
A+B+C

1.0